<div class="edit-main">
    <div class="edit-user-card">
        <h3>Edit User</h3>
        <button (click)="closePanel()" class="close-button">x</button>
        <form (ngSubmit)="onSubmitEditUser(form.value)" #form="ngForm">
            <div class="top row">
                <div class="col-md-4">
                    <div class="profile">
                        <div class="profile-circle">
                            <img src="assets/img/avatar.png">
                        </div>
                        <div class="edit-buttons">
                            <button>Update</button><img src="assets/img/bin.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" required [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" required [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Contact</label>
                    <input type="text" class="form-control contact" required [(ngModel)]="user.contact" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control email" required [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <button [disabled]="(!user.address)||(!user.username)||(!user.email)||(!user.address)" type="submit" class="btn btn-primary form-control">Save Changes</button>
        </form>
    </div>
</div>