.add-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .new-user-card {
        width: 40%;
        background: rgb(245, 244, 244);
        border-radius: 5px;
        padding: 30px;
        position: relative;
        .close-button {
            position: absolute;
            right: 40px;
            top: 20px;
            background: none;
            border: none;
            font-size: 30px;
            color: rgb(158, 157, 157);
            cursor: pointer;
        }
        .close-button:focus {
            outline: none;
        }
        .form-group {
            margin-bottom: 25px;
        }
        .profile {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: white;
            border: 0.5px solid rgb(238, 236, 236);
            .profile-circle {
                width: 120px;
                height: 120px;
                background: rgb(240, 240, 240);
                border-radius: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            button {
                margin-top: 10px;
                background: white;
                width: 80%;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}